@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("./HelveticaNeueLTStd-Blk.eot");
  src: url("./HelveticaNeueLTStd-Blk.eot?#iefix") format("embedded-opentype"),
    url("./HelveticaNeueLTStd-Blk.woff2") format("woff2"),
    url("./HelveticaNeueLTStd-Blk.woff") format("woff"),
    url("./HelveticaNeueLTStd-Blk.ttf") format("truetype"),
    url("./HelveticaNeueLTStd-Blk.svg#HelveticaNeueLTStd-Blk") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
